@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Playfair+Display:wght@900&display=swap");

* {
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
  border: none;
  padding: 0;
  margin: 0 auto;
}

/* font-family: 'Kanit', sans-serif;
font-family: 'Playfair Display', serif; */

.btn {
  width: 225px;
  height: 60px;
  color: #fff;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.darkModeHeaderBg {
  background: url("./assets/headerBgDark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 768px) {
    background-image: url("./assets/headerBgDarkTablet.svg");
  }
}

.lightModeHeaderBg {
  background: url("./assets/headerBg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 768px) {
    background-image: url("./assets/headerBgTablet.svg");
  }
}

.darkModeFooterBg {
  background: url("./assets/footerBgDark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 768px) {
    background-image: url("./assets/footerBgDarkTablet.svg");
  }
}

.lightModeFooterBg {
  background: url("./assets/footerBg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 768px) {
    background-image: url("./assets/footerBgTablet.svg");
  }
}

/* Switch */
.switch {
  min-width: 58px;
  min-height: 24px;
  padding: 7px;
  background-color: #ccc;
  border-radius: 17px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .switch.on {
  background-color: #eb852c;
} */

.slider {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 0px;
  transition: transform 0.3s;
}
.slider.on {
  background-color: #eb852c;
  background-image: url("./assets/sun.svg");
}
.slider.off {
  background-color: #003892;
  background-image: url("./assets/moon.svg");
}

.switch.on .slider {
  transform: translateX(28px);
}
